---
import Productcard from "./productcard.astro";
import img from "../assets/poroductimg.png"

---
<h3>
   Beauty Cosmetics Products
   some

</h3>
<main>

    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <Productcard  productimg ={img} />
    <!-- <Productcard  productimg ={img} /> -->
</main>

<style>
    main{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 2em;

    }
    h3{
        color: #121212;

/* H2 */
font-family: Ibarra Real Nova;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 125.5%; /* 3.765rem */
text-align: center;
    }
</style>